.App {
  text-align: center;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background: rgb(44, 44, 65);
  color: aliceblue;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

a {
  color: aliceblue;
}
.bg-black {
  background-color:black;
}

.banner-wrapper {
  height: 90vh;
}

.backdrop {
  width: 100%;
  height: 100%;
  opacity: 60%;
  object-fit:cover;
}

.hero {
  z-index: 15;
  position: absolute;
  font-size: 4rem;
  color: aliceblue;
  transform: translate(-50%,-50%);
  left:50%;
  top:20%;
}